<div class="shadow p-4 mb-4 bg-light">

        <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #247af6;color: #FFFFFF">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <p style="font-weight: bold; font-size: 120%;">Guide to Enhance Participation and Interaction by Theme Leader</p>
                  </li>
                </ul>
        </nav>
     <br><br>
        <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #007b5e;color: #FFFFFF">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <p style="font-weight: bold; font-size: 100%;">Theme Leader- Roles and responsibility in a DIPH cycle</p>
                  </li>
                </ul>
        </nav>
        <br>

        <b>Role: </b>Every cycle will have a designated stakeholder as the theme leader; he/she will be nominated by the DIPH District Nodal officer, in discussion with the Chief Medical Officer and heads of non- health departments (Child Development and Panchayat & Rural Development).
        <p>The theme leader is responsible for the overall execution of cycle specific DIPH steps. The theme leader has to take complete responsibility of the DIPH process</p>
        <b>Note: </b>There can be different theme leaders for different cycles or the health district can designate one person as the theme leader for the entire duration (year) of the DIPH process.
    
        <dt>Responsibilities</dt>
        <dt>Preparatory phaseof the DIPH cycle:</dt>
        <dd>1.He/she shall need to prepare analytical tables of major indicators in the health district, so that the nodal officer of district DIPH, and department wise heads can suggest probable themes. This process needs to done two weeks before the DIPH cycle.</dd>
        <dd>2.At-least one week before, along with the DIPH District Nodal Officer will circulatethe date and agenda for organising the DIPH steps.</dd>
        <dd>3.<b>Prerequisite for step -1: </b>Prefill Form I Part A of step-1 before the step -1 meeting with close discussion with District Statistical Manager and the heads of non-health departments (Panchayat & Rural Development, and Child Development).</dd>
        <dd>4.Nominate a person to fill the DIPH step forms during meeting proceedings.</dd>
        <dd>5.Organise the venue of the meetings.</dd>


        <dt>Conducting DIPH meetings (Step 1-4)</dt>
        <dd>1.He/she shall lead the discussion and encourages all the members to voice their opinion [refer to guide: enhance interaction and participation].</dd>
        <dd>2.After each step, summarise the key points and ensure that the DIPH forms are filled completely. If there is a need for additional information from any stakeholder, the theme leader needs to do the follow-up.</dd>
        <dd>3.Circulate the forms to the district DIPH stakeholders, at-least 3 days before the subsequent meeting, invite feedback and edit the forms.</dd>

        <dt>Follow-up of action points (Step 5)</dt>
        <dd>1.Orient the sub-district (block) stakeholder’s of all the departments Health and non- health departments (Panchayat & Rural Development, and Child Development) about the indicators of follow –up action points and ensure they send the data by every 2nd working day of the month.</dd>
        <dd>2.Follow-up with the heads of stakeholder departments; provide necessary instructions to capture the status of action-points at the sub- district (block) level.</dd>
        <dd>3.There may be some action-points that need to be followed-up directly with district/state authorities like district magistrate, state health bodies (Principal health secretary, health mission director) for issues like recruitment, procurement, lobbying for policy change/bringing out government orders,</dd>
        <dd>4.At district convergence level meetings (like Reproductive & Child Health and Public Health ) of the district, allocate 10-15 minutes to discuss the progress of the action plan with the sub-district (block) officials.</dd>
        <dd>5.Every 10th working day of the month compile the action-plan status at the district-level, and share with DIPH district nodal officer.</dd>

        <br>
        <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #007b5e;color: #FFFFFF">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <p style="font-weight: bold; font-size: 100%;">Guide for theme leader: Enhance Participation and Interaction</p>
                  </li>
                </ul>
        </nav>
        <br>
    
        <b>Background: </b>Data Informed Platform for Health (DIPH), an innovative approach to utilize health system data for planning and collective decision-making to improve Maternal, New born and Child Health (MNCH) services, through inter-sectorial convergence at district level.
        <br><br>
        <p style="text-align: center;font-weight: bold">Figure 1: Concept of Inter-Sectorial Convergence
        <img class="guide-img" src="../../assets/images/cis.png" alt=""></p>
    
        <dt>Definition of DIPH Meeting</dt>
        <dd>An assembly of the Government officials that enhances interaction among health and other departments (e.g. Child Development, Panchayat & Rural Development departments) for programme appraisal and comparison to improve Public Health services throughout the district.</dd>

        <dt>Purpose of DIPH Meeting</dt>
        <dd>Interaction/ discussion for sharing of Public Health data to take collective decisions and filling up DIPH forms (Form 1, 2, 3, 4 & 5) are the major components to conduct such meetings.</dd>
    
        <dt>Expected Outcome</dt>
        <dd>1.DIPH Steps 1-5 are to be completed by involvement of District DIPH stakeholders based on interaction and discussion.</dd>
        <dd>2.Sharing of experience, success stories and ground realities helps to develop the plan in a more realistic way.</dd>
        <dd>3.Increase ownership ofthe decisions generated in the meeting</dd>
        <dd>4.Capacity building/ orientation of the stakeholders on various health issues of the district.</dd>


        <br>
        <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #007b5e;color: #FFFFFF">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <p style="font-weight: bold; font-size: 100%;">Basic Concept of Facilitation</p>
                  </li>
                </ul>
        </nav>
        <br>
        
        <dt>Handling dominating participants</dt>
        <dd>Generally, it has been found that district level officials at the higher ranks take lead rolesin discussion during the meeting. This does not provide much space of staffs down the hierarchy toexpress theirviews. To break this process, team leader should allow them time & space to express their views without any tension/ fear (check Box-1).</dd>

        <br>
        <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #007b5e;color: #FFFFFF">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <p style="font-weight: bold; font-size: 100%;">Box 1-Pointers to deal hierarchy among participants</p>
                  </li>
                </ul>
        </nav>
        <br>

        <table class="table table-hover table-dark  table-bordered">
                <thead>
                  <tr>
                    <th>Underlying causes of dominant Behaviors</th>
                    <th>Possible solutions</th>                    
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                        <ul>
                            <li>It may be due to power imbalance, as Mr. A. might hold a more senior position in the group hierarchy.</li>
                            <li>Perhaps there's a deficit of knowledge in the group - only some people know enough about the issue to feel confident in speaking.</li>
                            <li>Maybe Mr. A not very sensitive to group dynamics. He's not being deliberately rude, but he simply doesn't realise he's so dominant.</li>
                        </ul>
                    </td>
                    <td>
                            <ul>
                                    <li>Introduce a go-round: each person speaks in turn for a set amount of time, with no interruptions</li>
                                    <li>Make a group agreement at the start of the meeting to remind participants to let everyone contribute equally.</li>
                                    <li>Pro-actively ask other people for their opinion: "Thank you, Mr. A, for your great ideas. What do other people think?"</li>
                                    <li>Share out information before the meeting so everyone is well informed</li>
                                    
                            </ul>
                    </td>                    
                  </tr> 
                </tbody>
              </table>
              
              <dt>Enhance participation</dt>
              <dd>To deal ‘difficult’ or ‘emotionally charged’ participants, it’s vital to remember that the problem is their behaviour and not individually as a person. Chances are that at some level, the meeting isn't addressing their needs, or maybe they feel that the meeting is a waste of time because their opinion won't be considered when it comes to making the final decision. To avoid this conflict, accept their views/ ideas that they express during the meeting. It increases their ownership and it is also possible to increase their commitment to the outcomes, as well as improving behaviour in meetings.</dd>

              <dt>Enhance interaction among departments</dt>
              <dd>In general, it is found that participants loose their interest and remain silent due to lack of information and self-expressiveness. For example, in a meeting to address health issues, participants from other non-health department may lose their interest by thinking that health is not their domain or they are not an expert like the health department officials.</dd>
              <dd>In order to engage them, the facilitator needs to turn the meeting into orientation mode. Approx 5-10 minutes session to orient participants about the issue to be discussed and its present situation through success story/ experience sharing. It may increase their knowledge/ interest that assist them to speak and take part in the discussion.</dd>

              <br>
           <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #007b5e;color: #FFFFFF">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <p style="font-weight: bold; font-size: 100%;">In the Meeting</p>
                  </li>
                </ul>
        </nav>
        <br>

        
    <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #007b5e;color: #FFFFFF">
             <ul class="navbar-nav">
               <li class="nav-item active">
                 <p style="font-weight: bold; font-size: 100%;">Six generic activities</p>
               </li>
             </ul>
     </nav>
     <br>

     <table class="table table-hover table-dark  table-border">
            <thead>
              <tr>
                <th>I</th>
                <th>II</th>
                <th>III</th>
                <th>IV</th>
                <th>V</th>
                <th>VI</th>                    
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Introduction (approx. 10 minutes)</td>
                <td>Setting the Basic Ground Rules (approx. 5 minutes)</td>
                <td>Recap of Previous Meeting (approx. 10 minutes)</td>
                <td>Sharing of Objective & Agenda (approx.15 minutes)</td>
                <td>Concluding remarks (approx. 10 minutes)</td>
                <td>Meeting feedback from the Participants (approx. 10 minutes)</td>                  
              </tr>  
           </tbody>
      </table>

      <br>
      <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #007b5e;color: #FFFFFF">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <p style="font-weight: bold; font-size: 100%;">Five Step DIPH meetings</p>
              </li>
            </ul>
       </nav>
       <br>

       <table class="table table-hover table-dark  table-border">
            <tbody>
              <tr>
                <td><dt>DIPH Step 1 </dt>Assess (approx. 2 hour)</td>
                <td><dt>DIPH Step 2 </dt>Engage (approx. 1 hour)</td>
                <td><dt>DIPH Step 3 </dt>Define (approx. 1 hour)</td>
                <td><dt>DIPH Step 4 </dt>Plan (approx. 1 hour)</td>
                <td><dt>DIPH Step 5 </dt>Follow-up (approx. 1 hour)</td>                      
              </tr>  
           </tbody>
      </table>

      <br>
      <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #007b5e;color: #FFFFFF">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <p style="font-weight: bold; font-size: 100%;">Six Generic Steps</p>
              </li>
            </ul>
       </nav>
       <br>

       <dt>I. Introduction:</dt>
       <dd>The session will start with welcome address to all participants by the chairperson of the meeting and self-introduction of the participants. All participants should know each other by their names, occupations/ designations, place of posting for better coordination during meeting. Not only in the meeting, but this will help them to coordinate effectively during the implementation of action points.</dd>
       <dd><b>"Knowing each-other </b>After giving formal introduction, ask 1 participant about names, occupations, designations of other participants from same department present in the meeting hall. This is a team building exercise helps them to know each other by their names, occupations/ designations, place of posting for better coordination</dd>
       <dd>As part of this session participants’ registration sheet needs to be filled up with signatures.</dd>
    
       <dt>II. Setting the Basic Ground Rules</dt>
       <dd>Before starting the meeting it is necessary to establish ground rules, or assist the group in arriving at some norms to avoid distraction during meeting. Following ground rules can be set:</dd>
       <dd>1.Participants should focus on objectives of the meeting</dd>
       <dd>2.Participants should speak one at a time</dd>
       <dd>3.Each session should conclude with feedback from group members</dd>
       <dd>4.All the members should restrict use of mobile phones & no side talk.</dd>
       <dd>5.This is a participatory meeting so all participants should contribute.</dd>

       <dt>III. Recap of Previous Meeting</dt>
       <dd>Ask participants what happened in the previous meeting. Let them remind the previous step/s to link with the topic/ issue to be discussed in the meeting. Note all the points in a board/ chart paper and refer them during summarization through pre prepared power point presentation. This will also helpful for those participants who were not attended the previous meeting.</dd>

       <dt>IV. Sharing of Objective & Agenda:</dt>
       <dd>Objective of the meeting should be explained to all participants by following ways:</dd>
       <dd>1.Outline the purpose of the meeting and remind members why they are in the meeting and expectations from them</dd>
       <dd>2.Review the objectives and agenda for the session if required</dd>
       <dd>3.Remind them that their contribution will make the meeting success</dd>
       <dd>4.Motivate them to discuss relevant points freely, without any hesitation</dd>
       <dd>Ask participants about the primary agenda or topics to be discussed in the meeting that had already shared to them. Write all the points in a board/ chart paper and refer them during consolidation by showing the predetermined agenda and explain the missing links if any. Ensure that all of them should know what is to be discussed and its sufficient background information to make relevant contributions/ opinions. Sample agenda is in Table 2</dd>

       <br>
      <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #007b5e;color: #FFFFFF">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <p style="font-weight: bold; font-size: 100%;">Table 2- Agenda of DIPH Steps Meeting</p>
              </li>
            </ul>
       </nav>
       <br>
       <table class="table table-hover table-dark  table-border">
           <tbody>
              <tr>
                <td>Date &Time :</td>   
                <td></td>
                <td></td>
                <td></td>                                
              </tr>
              <tr>
                <td>Venue:</td>
                <td></td>
                <td></td>
                <td></td>                                  
               </tr> 
               <tr>
                   <td>Objective/ Purpose:</td>
                   <td></td>
                   <td></td>
                   <td></td>
               </tr>
               <tr>
                   <td>Time</td>
                   <td>Issued to be Discussed</td>
                   <td>Method of Discussion</td>
                   <td>Responsible person / Speaker</td>
               </tr>
               <tr>
                   <td></td>
                   <td>Topic Sub Topic</td>
                   <td></td>
                   <td></td>
               </tr>
               <tr>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
               </tr>
               <tr>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
               </tr>
               <tr>
                   <td>[Note: Agenda of the meeting should be circulated at least one week in advance]</td>
                   <td></td>
                   <td></td>
                   <td></td>
               </tr>
            </tbody>
       </table>

       <dt>V. Concluding remarks</dt>
       <dd>At the end of a meeting, it is useful to list the tasks to be accomplished and to assign to participants with specified timeline. This action list should be sent to all participants in form of minutes along with a list of key decisions made and important information recorded at the meeting.</dd>
       
       <dd>1.Tentative date of next meeting needs to be announced.</dd>
       <dd>2.A concluding statement from the Chairperson, giving thanks to all.</dd>

       <dt>VI. Meeting feedback from the Participants</dt>
       <dd>Feedback from the participant is essential for further improvement. Basically, it’s an opportunity for DIPH research team to rectify faults and upgrade the process to fulfil objective effectively</dd>


       <br>
       <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #007b5e;color: #FFFFFF">
             <ul class="navbar-nav">
               <li class="nav-item active">
                 <p style="font-weight: bold; font-size: 100%;">Table 3- Meeting Feedback Form for the Participant</p>
               </li>
             </ul>
        </nav>
        <br>

        <table class="table table-hover table-dark  table-border">
                <tbody>
                   <tr>                      
                     <td>Questions</td>
                     <td>Participant’s Feedback</td>                                                     
                   </tr>
                   <tr>                      
                        <td></td>
                        <td>Y (Yes) N (No) NA (Not want to Answer)</td>                                                     
                      </tr>
                   <tr>
                       <td>The meeting purpose and objectives were clearly stated?</td>
                       <td></td>
                   </tr>
                   <tr>
                        <td>Was the meeting time convenient for me?</td>
                        <td></td>
                    </tr>
                    <tr>
                            <td>Was meeting place convenient for me?</td>
                            <td></td>
                        </tr>
                        <tr>
                                <td>All meeting participants were actively involved?</td>
                                <td></td>
                            </tr>
                            <tr>
                                    <td>We used our meeting time effectively?</td>
                                    <td></td>
                                </tr>
                                <tr>
                                        <td>Mention at least two aspects of this meeting were particularly good?</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                            <td>Tell us two of the thinks/aspect/issues you dislike most in the meeting?</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                                <td>Do you have any suggestions or additional comments about this meeting?</td>
                                                <td></td>
                                            </tr>
                            <tr>
                                <td><b>[Note:- Circulate this form to the participants after lunch break, and collect it afterwards]</b></td>
                                <td></td>
                            </tr>
                </tbody>
        </table>
        
        <dd>Compilation of the indicators mentioned in the above table is important to generate further corrective actions. Theme leader in support with DIPH researc team will complete the process within 10working days from the completion of the meeting. Based on the same necessary modification should be made in the next meeting procedure.</dd>

        <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #007b5e;color: #FFFFFF">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <p style="font-weight: bold; font-size: 100%;">Table 3.1- Meeting Feedback Compilation Template</p>
                </li>
              </ul>
         </nav>
         <br>

         <table class="table table-hover table-dark  table-border">
                <tbody>
                   <tr>                      
                     <td>Questions</td>
                     <td>Participant’s Feedback<br>(No. of Participants)</td>                                                     
                   </tr>
                   <tr>
                       <td></td>
                       <td>Y (Yes) N (No) NA (Not want to Answer)</td>
                   </tr>
                   <tr>
                        <td>The meeting purpose and objectives were clearly stated?</td>
                        <td></td>
                    </tr>
                    <tr>
                            <td>Was the meeting time convenient for me?</td>
                            <td></td>
                    </tr>
                    <tr>
                            <td>Was meeting place convenient for me?</td>
                            <td></td>
                    </tr>
                    <tr>
                            <td>All meeting participants were actively involved?</td>
                            <td></td>
                    </tr>
                    <tr>
                            <td>We used our meeting time effectively?</td>
                            <td></td>
                    </tr>
                    <tr>
                            <td>Total</td>
                            <td></td>
                    </tr>
                    <tr>
                            <td>Percentage</td>
                            <td></td>
                    </tr>
                    <tr>
                            <td>Aspects of this meeting were particularly good as per feedback from participants:
                                    <dt>1.</dt>
                                    <dt>2.</dt>
                                    <dt>3.</dt>
                                    <dt>4.</dt>
                            </td>
                            <td></td>
                    </tr>
                    <tr>
                            <td>Thinks/aspect/issues are dislike most by the participants:
                                    <dt>1.</dt>
                                    <dt>2.</dt>
                                    <dt>3.</dt>
                                    <dt>4.</dt>
                            </td>
                            <td></td>
                    </tr>
                    <tr>
                            <td>Suggestions or additional comments by the participants:
                                    <dt>1.</dt>
                                    <dt>2.</dt>
                                    <dt>3.</dt>
                                    <dt>4.</dt>
                            </td>
                            <td></td>
                    </tr>
                    <tr>
                            <td>Modification recommended for the next meeting in consultation with district administration:
                                    <dt>1.</dt>
                                    <dt>2.</dt>
                                    <dt>3.</dt>
                                    <dt>4.</dt>
                            </td>
                            <td></td>
                    </tr>
                   
                </tbody>
         </table>

         <br>
         <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #007b5e;color: #FFFFFF">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <p style="font-weight: bold; font-size: 100%;">Step 1 Assess</p>
                  </li>
                </ul>
           </nav>
           <br>

           <dd>Situation analysis is the first step of each DIPH cycle to assess the current situation of the district through health policy & planning documents review and data analysis for health system capacity assessment. This step has 2 parts (A and B)</dd>
           <dd>Orient the following form and clear confusion if any:</dd>

           <table class="table table-hover table-dark  table-bordered">
                <thead>
                  <tr>
                    <th>Form No. & Title</th>
                    <th>Details</th>                 
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><b>Form I,Part A: ‘Document and database checklist’</b></td>
                    <td>It includes review of three types of core documents with related sub-categories of each. This checklist will help to identify the relevant documents and data forms required for situation analysis</td>                   
                  </tr> 
                  <tr>
                      <td><b>Form I, Part B- ‘Health System Capacity Assessment with supplement table’</b></td>
                      <td>This forms is prepared to capture information on demographic characteristics, coverage indicators and assessment of health system capacity in terms of infrastructure, general resources (supplies, finance, technology) and human resources (personnel and skill level).
                            Supplement table for identifying of sub-district (block) level performance in selected indicators.</td>
                  </tr>
                  </tbody>
           </table>

           <dd>Form I, Part A needs to be filled in detail at the first DIPH cycle; the subsequent cycles require only updating.</dd>
           <dd>Show the form that filled up in the previous cycle and update it as per feedback receive from the participants. Read the following categories of Form I (Part A) sequentially and update them accordingly:</dd>
           <ul>
               <li>Policy and planning documents (state & district level)Management and Services Provision data(health & non-health departments)</li>
               <li>Large scale district level surveys</li>
           </ul>

           <dd>Form –I, Part B with supplement table are to filled up before the step -1 meeting with close discussion with District Statistical Manager (DSM) and the heads of non health departments (Panchayat& Rural Development and Women & Child departments).</dd>
           <dd>Show the prefill forms to participants for understanding capacity of health system & block wise performance in selected indicators.</dd>

           <br>
         <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #007b5e;color: #FFFFFF">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <p style="font-weight: bold; font-size: 100%;">Step 2 – Engage</p>
                  </li>
                </ul>
           </nav>
           <br>

           <dd>Stakeholder engagement is the 2nd step to understand the role of health and non health department (Panchayat& Rural Development (PRD) and Women & Child Development departments) officials for effective coordination and collective action for implementation of action plan.</dd>
           <dd>Orient the following form and clear confusion if any:</dd>

           <table class="table table-hover table-dark  table-bordered">
                <thead>
                  <tr>
                    <th>Form No. & Title</th>
                    <th>Details</th>                 
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><b>Form 2 – ‘Engage’</b></td>
                    <td>To identify theme specific roles of primary & secondary stakeholders to enhance engagement & efficiency. Leads from the each department, NGO and private sector (if any) also be selected during the process.
                            Recent efforts to address the issue also tobe identified.</td>                   
                  </tr>                   
                  </tbody>
           </table>
           <dd>Give participants an opportunity to identify their role & responsibilities through interactive discussions</dd>

           <table class="table table-hover table-dark  table-bordered">
                <thead>
                  <tr>
                    <th>Interactive Discussions- part 1</th>
                    <th>Interactive Discussions- part 2</th> 
                    <th>Interactive Discussions- part 3</th>
                    <th>Summarization</th>                 
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><b>Define primary & secondary stakeholders for effective coordination.</b></td>
                    <td>Give the participants 10 minutes to note their role & responsibilities in papers (department wise).</td>
                    <td>Ask them to share their views one by one (department wise) with feedback/ suggestion by other participants.</td>
                    <td>Summarize the whole process by showing the filled up form II</td>                   
                  </tr> 
                  <tr>
                      <td></td>
                      <td>Give some example (experience, best practices, success stories) for brainstorming</td>
                      <td>Fill up form II Appreciate innovative ideas</td>
                    <td>Entertain feedback to finalize the form</td>
                  </tr>
                  </tbody>
           </table>

           <br>
         <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #007b5e;color: #FFFFFF">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <p style="font-weight: bold; font-size: 100%;">Step 3 – Define</p>
                  </li>
                </ul>
           </nav>
           <br>

           <dd>To identify the most immediate health concerns to be addressed on the basis of prioritization criteria:</dd>
           <dd>Orient the following form and clear confusion if any:</dd>

           <table class="table table-hover table-dark table-bordered">
                <thead>
                  <tr>
                    <th>Form No. & Title</th>
                    <th>Details</th>                 
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><b>Form 3 – ‘Define’</b></td>
                    <td>To finalize priority areas to be improved upon, passible solution along with action points in terms of reaching target population, general resources (supplies, finance, technology) and human resources (personnel and skill level) needs to be set.
                            Priority setting should be done keeping in mind within the given resources and mandate that is available with the district.</td>                   
                  </tr>                  
                  </tbody>
           </table>

           <dd>Summary of information coming out from the situation analysis & stakeholder engagement needs to be fitted here. Show the forms (I & II) that wasfilled up earlier in the meeting to develop action part, description of problems, itspossible solution and also identify action required to address the issues in priority basis.</dd>

           <table class="table table-hover table-dark table-bordered">
                <thead>
                  <tr>
                    <th>Recalling<br> [ Previous steps i.e. situation analysis & MNCH priority settings need to reiterate in this step called recalling]</th>
                    <th>Crowdsourcing<br> [Collect information from the participants based on previous steps i.e. situation analysis & MNCH priority settings calledcrowdsourcing ]</th> 
                    <th>Summarization<br> [ Summarization is the process to review the prepared document and entertain feedback to finalize]</th>                
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                        <ul>
                            <li>Summary information coming out from the situation analysis & stakeholder engagement (forms I & II) need to reiterate in this phase.</li>
                            <li>Make participants familiar them with all points of situation analysis & stakeholder engagement.</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Summary information coming out from the situation analysis & stakeholder engagement (forms I & II) need to reiterate in this phase</li>
                            <li>Service delivery</li>
                            <li>Workforce</li>
                            <li>Supplies & technology</li>
                            <li>Health information</li>
                            <li>Finance</li>
                            <li>Policy/ governance</li>
                            <li>Make participants familiar them with all points of situation analysis & stakeholder engagement.</li>
                            <li>Fill up form III</li>
                            <li>Appreciate innovative ideas</li>
                        </ul>
                    </td>  
                    <td>
                        <ul>
                            <li>Summarize the whole process by showing the filled up form III.</li>
                            <li>Entertain feedback to finalized the form</li>
                        </ul>
                    </td>                 
                  </tr> 
                 
                  </tbody>
           </table>

           <br>
         <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #007b5e;color: #FFFFFF">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <p style="font-weight: bold; font-size: 100%;">Step 4 - Plan</p>
                  </li>
                </ul>
           </nav>
           <br>

           <dd>Development of action plan based on the priorities identified at district level. This should be specific and realistic in nature to achieve goal within specific time line.</dd>
           <dd>Orient the following form and clear confusion if any:</dd>

           <table class="table table-hover table-dark table-bordered">
                <thead>
                  <tr>
                    <th>Form No. & Title</th>
                    <th>Details</th>                 
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Form 4 – 'Plan'</td>
                    <td>
                        <dd>Theme specific actions identified in Form III (priority setting) are further split into realistic action plans to achieve goal within a time frame. This form further identifies responsible person for each actions and timeline to complete the task.</dd>
                        <dd>Action points should be developed keeping in mind the feasibility of resources and mandate that is available with the district.</dd>
                        <dd>Action points where State’s role is needed should be avoided.</dd>
                    </td>                   
                  </tr>                   
                  </tbody>
           </table>

           <dt>Experience sharing –</dt>
           <ul>
               <li>ask participants (department wise) about their involvement in the existing planning process (types of plan prepared, last plan prepared etc.) in the district/ blocks and note all the points in board/ chart. This helps to identify their expertise in the planning process and also brainstorming for the participants to take part in this planning process effectively.</li>
               <li>Show them theme specific action identified in Form-III (priority setting) and make them understand again by asking few open-ended questions.</li>
               <li>Based on the Form-III (priority setting) ask participants and generate action points one by one.</li>
               <li>Fill up form IV. After completion, summarize it and entertain feedback from the participants.</li>
               <li>Consult the district administration representative to finalise the forms.</li>
           </ul>

           <br>
         <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #007b5e;color: #FFFFFF">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <p style="font-weight: bold; font-size: 100%;">Step 5 - Follow-up</p>
                  </li>
                </ul>
           </nav>
           <br>

           <table class="table table-hover table-dark table-bordered">
                <thead>
                  <tr>
                    <th>Form No. & Title</th>
                    <th>Details</th>                 
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><b>Form 5 – 'Follow-up'</b></td>
                    <td>
                        <dd>Follow- up of the action plan to monitor the implementation process. Also make necessary modification based on implementation issues if any.</dd>
                        <dd>If any action points not completed within the time frame, with consultation of district administration the person responsible for the action points can be changed.</dd>
                    </td>                   
                  </tr> 
                  
                  </tbody>
           </table>

           <ul>
               <li>Show form 4 (category wise action points, indicators, responsible person/s and its deadline) that prepared in the previous meeting through data sharing and collective decisions.</li>
               <li>Ask the responsible person/s of each action points about its implementation status as well as progress to monitor the process. Also discuss the implementation challenges/ issues that are concern in this context.Fill up form 5 simultaneously.</li>
               <li>Jointly with district administration decide how long to continue follow-up of any particular action points if not been able to completed within the timeframe. Revised timeline, change in responsibility (if any) need to be identified during the process and documented it in Form 5.</li>
               <li>After completion the above processand filling up form 5., summarize it and entertain feedback (if any) to finalize.</li>
           </ul>


    </div>
