<!-- <mat-dialog-content>
    <p>Would you like to delete this form?</p>
    <p>{{data.myvar}}</p>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button (click)="save()">Delete!!</button>
    <button mat-raised-button (click)="cancel()">Cancel</button>
</mat-dialog-actions> -->

<div class="">

    <div class="">
        <div class="col-sm-12 sub-header">
            <h4>Delete Form</h4>
        </div>
        <div class="col-sm-12 form-body lt">
            <article class="card-body" >
                <form>
                    <div class="col-sm-12 lt">
                        Would you like to delete this form?
                    </div>
                    

                    <div style="clear:both;margin-bottom: 10%;;"></div>
                    <div class="col-sm-12 text-center form-footer" style="margin-bottom:20px;">
                        <button type="submit" _ngcontent-dbi-c224="" mat-flat-button="" color="warn"
                            style="margin-right: 5px" class="mat-flat-button mat-button-base mat-warn"
                            (click)="save()">
                            Delete</button>
                        <button _ngcontent-dbi-c224="" mat-raised-button="" color="primary" style="margin-left: 5px"
                            class="mat-raised-button mat-button-base mat-primary" (click)="cancel()">Cancel</button>
                    </div>


                </form>
            </article>
        </div>
    </div>

</div>
<!--container end.//-->