<div id="coverScreen" class="LockOn">
</div>
<div id="backScreen">
  <div style="height:100%">
    <!-- Floating button on right Side -->
    <div class="wrapper bar" (click)="previouspage()">
      <!-- <button class="button">Back</button> -->
      <div class="button" id="button-5">
        <div id="translate"></div>
        <a style="font-size:18px; color:#000"><i class="fa fa-long-arrow-left" aria-hidden="true" style="margin-right: 5px;"></i><span>Back</span></a>
      </div>
    </div>
    <!-- End of Floating button on right Side -->
    <div class="col-md-4 offset-md-4 col-12" style="height: 100%">
        <div class="row" style="height: 100%;">
      <div class="box-whole" style="width: 100%">
        <div class="">
          <div class="box">
            <div class="box-header text-center">
              <h2 class="text-center" style="color: #394554; font: 20px/20px 'Alegreya SC', serif;">Data Informed Platform for Health</h2>
            </div>
            <div class="box-body text-center">
              <div class="text-center col-sm-12">
                <div class="forgot">
                <h3><i class="fa fa-lock fa-4x"></i></h3>
                <h2 class="text-center">Forgot Password?</h2>
                </div>
                <div class="panel-body">
                  <form id="register-form" role="form" #forgotpassword_form="ngForm"
                    (ngSubmit)="onforgotPassword(forgotpassword_form.value)" autocomplete="off" class="form" method="post">
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                        <input id="email" name="email" placeholder="Enter your username" class="form-control" ngModel
                          type="email">
                      </div>
                    </div>
                    <div class="col-sm-12 ">
                    <div class="form-group text-left" >
                      <div class="row">
                          <div class="col-md-6">
                        <h2 ><span type="text" id="mainCaptcha"></span><button id="refresh" (click)="Captcha()" type="button" style="padding: 0px 10px;width: auto; height: 32px;"><i class="fa fa-refresh"
                          aria-hidden="true"></i></button></h2>
                        </div>
                        <div class="col-md-6">
                            <input type="text" id="txtInput" style="float: left"  />
                            <!-- <input id="Button1" type="button" value="Check" (click)="ValidCaptcha()" /> -->
                            
                        </div>
                      </div>                    
                    </div>
                  </div>

                    <div class="form-group">
                      <button type="submit" value="Send Password to Email"_ngcontent-twp-c1="" class="btn btn-primary mb-2">Send
                        Password to Email</button>

                    </div>

                    <input type="hidden" class="hide" name="token" id="token" value="">
                  </form>

                </div>
              </div>
            </div>
            <div class="box-footer" id="footer-font">
                <p id="footer-p" class="text-white">DIPH is developed by the <span class="big"><a href="https://www.lshtm.ac.uk/" target="_blank">London School of Hygiene & Tropical Medicine</a></span> with IT support from the <span class="big"><a href="https://www.tattvafoundation.org/"  target="_blank">Tattva Foundation.</a></span></p>

        </div>
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
    
  <div class="container-fluid">

      <div class="row">
          <div class="col-md-12">
                  <p>
                      The Ethiopian Public Health Institute is the national implementation partner for DIPH</p>
          </div>
      </div>
  </div>

</footer>
<!-- <div  class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="text-center">
                      <h3><i class="fa fa-lock fa-4x"></i></h3>
                      <h2 class="text-center">Forgot Password?</h2>
                      <p>You can reset your password here.</p>
                      <div class="panel-body">
        
                        <form id="register-form" role="form" autocomplete="off" class="form" method="post">
        
                          <div class="form-group">
                            <div class="input-group">
                              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                              <input id="email" name="email" placeholder="email address" class="form-control"  type="email">
                            </div>
                          </div>
                          <div class="form-group">
                            <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password" type="submit">
                          </div>
                          
                          <input type="hidden" class="hide" name="token" id="token" value=""> 
                        </form>
        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div> -->

<!-- <div class="container">

        
        <div class="row justify-content-center">
    
          <div class="col-xl-10 col-lg-6 col-md-9">
    
            <div class="card o-hidden border-0 shadow-lg my-5">
              <div class="card-body p-0">
                
                <div class="row">
                   <div class="col-lg-6 d-none d-lg-block bg-password-image"></div> 
                  <div class="col-lg-6">
                    <div class="p-5">
                      <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                        <p class="mb-4">We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your password!</p>
                      </div>
                      <form class="user">
                        <div class="form-group">
                          <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                        </div>
                        <a href="login.html" class="btn btn-primary btn-user btn-block">
                          Reset Password
                        </a>
                      </form>
                      <hr>
                      <div class="text-center">
                        <a class="small" href="register.html">Create an Account!</a>
                      </div>
                      <div class="text-center">
                        <a class="small" href="login.html">Already have an account? Login!</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    
          </div>
    
        </div>
    
      </div> -->