<div style="background-color:#F0F0F0" class="feedback-div">
  <div class="col-sm-12 sub-header">
    <div class="wrapper" style="with:20px; float:left">
      <!-- <button class="button">Back</button> -->
      <div class="" id="button-5" style="margin: 0; width:100%">
        <div id="translate"></div>
        <a (click)="previouspage()" _ngcontent-fvy-c11="" style="font-size:18px; padding:0; margin-right: 5px;"><i
            _ngcontent-fvy-c11="" aria-hidden="true" class="fa fa-long-arrow-left" style="color:#5d5d5d;"></i><span
            _ngcontent-fvy-c11=""></span></a>
      </div>
    </div>
    <h4>Feedback</h4>
  </div>

  <div class="">
    <div class="col-sm-6 offset-sm-3">
      <form (ngSubmit)="onsubmit()">

        <div class="col-sm-12 form-body" style="float: left; margin-top: 15px;">
          <div class="col-sm-12 lt">
            <div class="col-sm-12 text-center" style="padding:15px 0">
              <img src="assets/images/diph_logo.png" style="
        width: 400px;
    ">
            </div>
            <!-- </div>
      <div class="col-sm-6 lt"> -->

            <div class="form-group">
              <input type="text" class="form-control form-control-sm" placeholder="Name" id="username" name="username"
                ngModel   [ngClass]="{ 'is-invalid': (submitted &&  customer.username=='') 
                ||  (submitted &&  validateSpecialCharsAndNum(customer.username))  
                ||  (submitted &&  validate100charactersallowed(customer.username)) 
                ||  (submitted &&  customer.username != null  && customer.username.trim() == '') }"
                 required [value]="customer.username" (input)="customer.username=$event.target.value">
               
                <div *ngIf=" (submitted && customer.username == '') 
          || (submitted && validateSpecialCharsAndNum(customer.username)) 
          || (submitted && validate100charactersallowed(customer.username))  
          ||  (submitted &&  customer.username != null  && customer.username.trim() == '') "
              class="invalid-feedback">
              <div *ngIf="(customer.username == '')  || (customer.username != null  && customer.username.trim() == '')">
                  Field value is required</div>
              <div *ngIf="validateSpecialCharsAndNum(customer.username)">
                  Only Alphabets Allowed.</div>
              <div *ngIf="validate100charactersallowed(customer.username)">
                  Total Characters within and equal to 100 length only allowed.</div>
                  <!-- <div *ngIf="customer.username != null  && customer.username.trim() == ''">
                    Field value is required.</div> -->
          </div>
            </div>
          </div>

          <div class="col-sm-12 lt"  >
            <div class="form-group">
              <select class="form-control  form-control-sm"  id="country_n" name="country_n" 
              [value]="customer.country_n"   (change)="customer.country_n=$event.target.value"  
                (change)="onSelectCountry($event.target.value)" ngModel>
                <option value="" selected disabled>Select Country</option>
                <option *ngFor="let country of countries" value={{country.id}}>{{country.name}}</option>
              </select>


              <!-- <input type="text" class="form-control form-control-sm" placeholder="Country" id="country_n"
          name="country_n" ngModel required  [value]="customer.country_n" (input)="customer.country_n=$event.target.value" > -->
            </div>
          </div>
          <div class="col-sm-12 lt"   *ngIf="registeredUser == '0'">
            <div class="form-group">
              <select class="form-control  form-control-sm" id="region_n" name="region_n"  
              [value]="customer.region_n"   (change)="customer.region_n=$event.target.value"   
              (change)="onSelectRegion($event.target.value)" ngModel>
                <option value="" selected disabled>Select Region</option>
                <option *ngFor="let region of regions" value={{region.region_id}}>{{region.region_name}}</option>
              </select>
            </div>
          </div>
          <div class="col-sm-12 lt"  *ngIf="registeredUser == '0'">
            <div class="form-group">
              <select class="form-control  form-control-sm" id="state_n" name="state_n"  
               [value]="customer.state_n"   (change)="customer.state_n=$event.target.value"   
               (change)="onSelectZone($event.target.value)" ngModel>
                <option value="" selected disabled>Select Zone</option>
                <option *ngFor="let state of states" value={{state.cs_id}}>{{state.state_name}}</option>
              </select>
            </div>
          </div>
          <div class="col-sm-12 lt" >
            <div class="form-group">              
              <select class="form-control  form-control-sm"    id="district_n" name="district_n"  
              [value]="customer.district_n"   (change)="customer.district_n=$event.target.value"   ngModel>
                <option value="" selected disabled>Select District</option>
                <option *ngFor="let district of districts" value={{district.district_id}}>
                  {{district.district_name}}</option>
              </select>
            </div>
          </div>
          <!-- <div class="col-sm-12 lt">
            <div class="form-group">
              <input type="text" class="form-control form-control-sm" placeholder="District" id="district_n"
                name="district_n" ngModel required [value]="customer.district_n"
                (input)="customer.district_n=$event.target.value">
            </div>
          </div> -->
          <div class="col-sm-12 lt">
            <div class="form-group">
              <input type="email" class="form-control form-control-sm" placeholder="Enter Valid Email-Id" id="email"
                name="email" ngModel required [value]="customer.email" (input)="customer.email=$event.target.value">

            </div>
          </div>
          <div class="col-sm-12 lt">
            <div class="form-group">
              <input type="text" class="form-control form-control-sm" placeholder="Subject" id="subject_n"
                name="subject_n" ngModel required [value]="customer.subject_n" 
                [ngClass]="{ 'is-invalid': (submitted &&  customer.subject_n=='')                 
                ||  (submitted &&  validate100charactersallowed(customer.subject_n)) 
                ||  (submitted &&  customer.subject_n != null  && customer.subject_n.trim() == '') }"                 
                (input)="customer.subject_n=$event.target.value">

                <div *ngIf=" (submitted && customer.subject_n == '')                 
                || (submitted && validate100charactersallowed(customer.subject_n))  
                ||  (submitted &&  customer.subject_n != null  && customer.subject_n.trim() == '') "
                    class="invalid-feedback">
                    <div *ngIf="(customer.subject_n == '')  || (customer.subject_n != null  && customer.subject_n.trim() == '')">
                        Field value is required</div>                    
                    <div *ngIf="validate100charactersallowed(customer.subject_n)">
                        Total Characters within and equal to 100 length only allowed.</div>
                        <!-- <div *ngIf="customer.username != null  && customer.username.trim() == ''">
                          Field value is required.</div> -->
                </div>
            </div>
          </div>
          <div class="col-sm-12 lt">
            <div class="form-group">
              <textarea rows="4" class="form-control form-control-sm" placeholder="Feedback"  
              [ngClass]="{ 'is-invalid': (submitted &&  customer.feedback_desc=='')                 
              ||  (submitted &&  validate100charactersallowed(customer.feedback_desc)) 
              ||  (submitted &&  customer.feedback_desc != null  && customer.feedback_desc.trim() == '') }"   
                [value]="customer.feedback_desc" (input)="customer.feedback_desc=$event.target.value"></textarea>
               
                <div *ngIf=" (submitted && customer.feedback_desc == '')                 
                || (submitted && validate100charactersallowed(customer.feedback_desc))  
                ||  (submitted &&  customer.feedback_desc != null  && customer.feedback_desc.trim() == '') "
                    class="invalid-feedback">
                    <div *ngIf="(customer.feedback_desc == '')  || (customer.feedback_desc != null  && customer.feedback_desc.trim() == '')">
                        Field value is required</div>                    
                    <div *ngIf="validate100charactersallowed(customer.feedback_desc)">
                        Total Characters within and equal to 100 length only allowed.</div>
                        <!-- <div *ngIf="customer.username != null  && customer.username.trim() == ''">
                          Field value is required.</div> -->
                </div>
            </div>
          </div>
        </div>


        <div class="col-sm-12 text-center form-footer" style="display:inline-block;">
          <button _ngcontent-dbi-c224="" mat-flat-button="" color="primary"
            class="mat-flat-button mat-button-base mat-primary" type="submit">Send Feedback</button> &nbsp;&nbsp;

        </div>

      </form>
    </div>
  </div>
</div>