<div class="shadow p-4 mb-4 bg-light">

  <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #247af6;color: #FFFFFF">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <p style="font-weight: bold; font-size: 120%;">Roles and Responsibilities: Stakeholder's Guide</p>

      </li>
    </ul>
  </nav>
  <p style="font-weight: bold; font-size: 80%;text-align: center">( FRAMEWORK OF DISTRICT DIPH STAKEHOLDER'S )</p>
  <p style="text-align: center"> <img class="guide-img" src="/assets/images/diph_sth.png" alt=""> </p>

  <b>ADM: </b> Adtitional District Magistrate<br>
  <b>PRD: </b> Panchayat and Rural Development department<br>
  <b>CD: </b> Child Development department<br>
  <b>BMOH: </b> Block Medical officer of health<br>
  <b>BPHN: </b> Block Public Health Nurse<br>
  <b>Jt. BDO : </b> Joint Block Development officer<br>
  <b>CDPO: </b> Child Development Project Officer<br><br>


  <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #007b5e;color: #FFFFFF">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <p style="font-weight: bold; font-size: 120%;">OUTLINE OF DIPH CYCLE</p>

      </li>
    </ul>
  </nav>
  <p style="font-weight: bold; font-size: 80%;text-align: center">( Each DIPH cycle is of three- four months with five
    steps )</p>
  <p style="text-align: center"> <img class="guide-img" src="/assets/images/cycle.png" alt=""> </p>


  <table class="table table-dark table-hover table-bordered">
    <thead>
      <tr>
        <th>DIPH Steps</th>
        <th>Forms</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <b>Step 1</b><br>
          "Assess" the current situation of the district through health policy & planning documents and it also entails
          review of health system data.
        </td>
        <td>
          Primary Forms
          Form I Part A& B
          Supplementary Forms
          1A.1, 1B.1
        </td>
      </tr>

      <tr>
        <td>
          <b>Step 2</b><br>
          "Engage" to understand the role for effective coordination and collective action.
          Public Sector- Health and non-health departments (Child Development and Panchayat & Rural Development)
          Private sector- NOGs and for profit-private sector
        </td>
        <td>
          Form II
        </td>
      </tr>

      <tr>
        <td>
          <b>Step 3</b><br>
          "Define" the themes/ areas to be improved in a cycle
        </td>
        <td>
          Form III
        </td>
      </tr>

      <tr>
        <td>
          <b>Step 4</b><br>
          "Plan" for identifying activities that leads to improve indicators
        </td>
        <td>
          Form IV
        </td>
      </tr>

      <tr>
        <td>
          <b>Step 5</b><br>
          "Follow-up" for progress of the implementation & monitoring of action plans.
        </td>
        <td>
          Primary Form
          Form 5
          Supplementary Form
        </td>
      </tr>
    </tbody>
  </table>


  <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #007b5e;color: #FFFFFF">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <p style="font-weight: bold; font-size: 120%;">Roles and responsibilities :District Nodal Officer</p>

      </li>
    </ul>
  </nav>
  <br>
  <b>Role: </b> The nodal officer of DIPH will oversee the activities and provide leadership for regular functioning of
  DIPH in the district, who will be from District administration and most likely Additional District Magistrate having
  responsibility of health in the district. The Nodal Officer facilitates interaction between district administration
  and other stakeholder’s departments.<br>
  <br>
  <dt>Responsibilities</dt>
  <dt>Preparatory phaseof DIPH cycle:</dt>
  <dd>1.Along with district-level heads (department-wise) - PRD, WCD-ICDS, Health decides the dates to conduct the DIPH
    steps.</dd>
  <dd>2.Finalise and circulate the agenda of the meeting, one week before the start of DIPH cycle.</dd>


  <dt>Conducting DIPH meetings</dt>
  <dd>1.Nominate the theme leader of the DIPH cycle based on the identified themes.</dd>
  <dd>2.Along with the theme leader of the DIPH cycle decides the theme for the district (Step1)</dd>
  <dd>3.Chair the meeting for development of action plan (step 4) and follow up of action plan (Step 5).</dd>
  <dd>4.Review monthly (10th of very month) with the theme leader of the progress in action plan.</dd>
  <br>

  <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #007b5e;color: #FFFFFF">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <p style="font-weight: bold; font-size: 120%;">Roles and responsibilities:Theme Leader</p>

      </li>
    </ul>
  </nav>
  <br>

  <b>Role: </b>Every cycle will have a designated stakeholder as the theme leader; he/she will be nominated by the DIPH
  District Nodal officer, in discussion with the Chief Medical officer and other departments(Women and child development
  and Panchayat and rural development).
  The theme leader is responsible for the overall execution of cycle specific DIPH steps. The theme leader has to take
  complete responsibility of the DIPH process(refer to guide: enhance interaction and participation).
  <br><br>
  <b>Note: </b>There can be different theme leaders for different cycles or the health district can designate one person
  as the theme leader for the entire duration (year) of the DIPH process.

  <dt>Responsibilities</dt>
  <dt>Preparatory phaseof the DIPH cycle:</dt>

  <dd>1.He/she shall need to prepare analytical tables of major indicators in the health district, so that the nodal
    officer of district DIPH, and department wise heads can suggest probable themes. This process needs to done two
    weeks before the DIPH cycle.</dd>
  <dd>2.At-least one week before, along with the DIPH District Nodal Officer will circulatethe date and agenda for
    organising the DIPH steps.</dd>
  <dd>3.Prerequisite for step -1: Prefill Form no. 1.3 of step-1 before the step -1 meeting with close discussion with
    District Statistical Manager and the heads of PRD and WCD-ICDS departments.</dd>
  <dd>4.Nominate a person to fill the DIPH step forms during meeting proceedings.</dd>
  <dd>5.Organise the venue of the meetings.</dd>

  <dt>Conducting DIPH meetings (Step 1-4)</dt>
  <dd>1.He/she shall lead the discussion and encourages all the members to voice their opinion [refer to guide: enhance
    interaction and participation].</dd>
  <dd>2.After each step, summarise the key points and ensure that the DIPH forms are filled completely. If there is a
    need for additional information from any stakeholder, the theme leader needs to do the follow-up</dd>
  <dd>3.Circulate the forms to the district DIPH stakeholders, at-least 3 days before the subsequent meeting, invite
    feedback and edit the forms.</dd>

  <dt>Follow-up of action points (Step 5)</dt>
  <dd>1.Orient the sub district stakeholder’s of all the departments (PRD, WCD-ICDS, Health)about the indicators of
    follow –up action points and ensure they send the data every 2nd working day of the month.</dd>
  <dd>2.Follow-up with the heads of stakeholder departments; provide necessary instructions to capture the status of
    action-points at the sub- district level.</dd>
  <dd>3.There may be some action-points that need to be followed-up directly with district/state authorities like
    district magistrate, state principal secretary for health, state health mission director (such as recruitment,
    procurement, lobbying for policy change/bringing out government orders, etc.).</dd>
  <dd>4.At the RCH-MIES (held 20th of every month) or Public Health meetings (held 10th of every month) of the district,
    allocate 10-15 minutes to discuss the progress of the action plan with the sub-district officials.</dd>
  <dd>5.Every 10th working day of the month compile the action-plan status at the district-level, and share with DIPH
    district nodal officer.</dd>

  <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #007b5e;color: #FFFFFF">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <p style="font-weight: bold; font-size: 120%;">Roles and Responsibilities: District-level Heads
          (department-wise) Health and Non-health (Panchayat and Rural Development, and Child Development)</p>

      </li>
    </ul>
  </nav>
  <br>

  <b>Role: </b>The representatives from the stakeholder departments are responsible for highlighting the pertinent
  themes in their concerned area. They should participate in every DIPH meeting, and actively contribute to the
  discussion. The leaders of the stakeholder departments are entrusted with monitoring the action-points components
  assigned to his/her respective department.
  <br><br>

  <dt>Responsibilities</dt>
  <dd>1.Participate in all the DIPH steps and engage in the planning and implementation process.</dd>
  <dd>2.Step-5: Assist the theme leader in orienting the sub-district personnel to complete the step forms.</dd>
  <dd>3.Regular follow-up with the sub-district for completion of action-plan; the sub-district need to submit the
    status of action-plan by 2nd working day of every month.</dd>
  <dd>4.Compile and analyse the progress of the sub-district reports, and send it to the theme leader by 3rd working day
    of every month.</dd>
  <dd>5.If needed, every 10th working day of the month along with the theme leader, attend the meeting to share progress
    of action points with the DIPH district nodal officer.</dd>


  <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #007b5e;color: #FFFFFF">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <p style="font-weight: bold; font-size: 120%;">Roles and responsibilities :DIPH Research team</p>
      </li>
    </ul>
  </nav>
  <br>

  <dd>1.Orient the district Nodal officer and the theme leader about the DIPH process based on the guidebook.</dd>
  <dd>2.Orient about the DIPH digital interface.</dd>
  <dd>3.One researcher will present at every DIPH steps meeting in the district. They will not participate in the
    discussion and only needed can guide the theme leader if there are any confusion with the DIPH steps and forms.</dd>
  <dd>4.The main role of the DIPH research team is to record the procedures of the meeting.</dd>
  <dd>5.Conduct IDI with district DIPH stakeholders as per monitoring plan in the district at end of each DIPH cycle.
  </dd>
  <dd>6.End of every DIPH cycle compile data as per the monitoring format.</dd>
  <dd>7.Share the findings the of the cycle’s monitoring report with DIPH district Nodal officer and the cycle’s theme
    leader.</dd>

  <br><br>









  <!-- New Client Required Data -->

 
</div>