<div class="shadow p-4 mb-4 bg-light">


        <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #247af6;color: #FFFFFF">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <p style="font-weight: bold; font-size: 100%;">Step 1 Assess - Form 1.A and Form 1.B</p>
                  </li>
                </ul>
           </nav>
           <br>

           <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #007b5e;color: #FFFFFF">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <p style="font-weight: bold; font-size: 100%;">Form 1, Part A: Document and Database Checklist</p>
                  </li>
                </ul>
           </nav>           
           <br>

           <ul>
               <li>This checklist will help to identify the relevant documents and data forms required for situation assessment of a DIPH cycle.</li>
               <li>This needs to be filled in detail at the first DIPH cycle of any district. In the subsequent cycles, this checklist requires only updating based on the selected theme of the cycle.</li>
               <li>The stakeholders of the meeting will aim to make an exhaustive list of all available documents in the district.</li>
               <li>There is a need to note online source of data/ document wherever it is applicable.</li>
           </ul>

           <dd>The form captures information under four heads:</dd>

           <table class="table table-hover table-dark table-bordered">
                <thead>
                  <tr>
                    <th>Sl. No</th>
                    <th>Document</th>
                    <th>Availability</th>
                    <th>Source</th>
                    <th>Form Linking</th>                 
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Part 1</td>
                    <td>State level policy and planning documents: It includes annual/five-year health plans, specific health policy documents, or valid government orders related to the identified public health theme</td>
                    <td>Note whether this document is available or not.</td>
                    <td>Mention the person at district level with whom the document is available. Mention the webaddress wherever applicable.</td>
                    <td>This is the 1st form, so not linked to any previous form.</td>                   
                  </tr> 
                  <tr>
                      <td>Part 2</td>
                      <td>District level policy and planning documents: Health plans/program documents, or government orders specific to the district</td>
                      <td>Same as above</td>
                    <td>Same as above</td>
                    <td>Same as above</td>
                  </tr>
                  <tr>
                        <td>Part 3</td>
                        <td>Health management and services data: The data related to theme-specific coverage indicators, human resources, supplies, etc. from the health department, related documents from non-health departments, as well as data on specific themes from private – for profit and non-governmental organisations (NGOs).</td>
                        <td>Same as above</td>
                        <td>Same as above</td>
                        <td>Same as above</td>                   
                      </tr> 
                      <tr>
                            <td>Part 4</td>
                            <td>Large-scale district level surveys: Surveys such as district level household and facility surveys, census, etc. that provide information on the social and demographic details of the district.</td>
                            <td>Same as above</td>
                            <td>Same as above</td>
                            <td>Same as above</td>                   
                          </tr> 
                  </tbody>
           </table>

           <br>

           <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #007b5e;color: #FFFFFF">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <p style="font-weight: bold; font-size: 100%;">Form 1, Part B: Health System Capacity Assessment</p>
                  </li>
                </ul>
           </nav>           
           <br>

           <ul>
               <li>This form captures demographic characteristics, coverage indicators and assessment of health system capacity in terms of infrastructure, general resources (supplies, finance and technology) and human resources (skill level and availability of personnel).</li>
               <li>The form needs to be filledby the theme leader before the step 1 meeting with close discussion with District Statistical Manager (DSM) and the heads of departments (health and non-health).</li>
               <li>The prefill forms will help the participants to understand the capacity of health system & district performance at the beginning of the cycle for the identified theme.</li>
           </ul>

           <table class="table table-hover table-dark table-bordered">
                <thead>
                    <tr>                        
                        <th>Information about the District</th>
                    </tr>
                  <tr>
                    <th>District Demographic Details</th>
                    <th>Information</th>
                    <th>Source</th> 
                    <th>Form Linking</th>                
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Total Area(Sq.km)</td>
                    <td>Total geographical area of the health district</td>  
                    <td>Latest reference from where the information is collected; provide web link if available</td>
                    <td>Not linked with any previous forms.</td>                 
                  </tr> 
                  <tr>
                      <td>Total population</td>
                      <td>Total number of people in the health district as per the most recent census</td>
                      <td>Same as above</td>
                      <td>Same as above</td>
                  </tr>
                  <tr>
                        <td>Number of women in reproductive age (15-49 years)</td>
                        <td>Total number of women between menarche and menopause (15 to 49 years) in that district as per the recent census, or any other document</td>
                        <td>Same as above</td>
                        <td>Same as above</td>
                    </tr>
                    <tr>
                            <td>Number of children under five years</td>
                            <td>Total number of children below five years of age in the health district</td>
                            <td>Same as above</td>
                            <td>Same as above</td>
                        </tr>
                        <tr>
                                <td>Rural population (%)</td>
                                <td>Total number of rural population in the district. In Indian context, “rural" refers to any place which meets the criteria of (i) a population of less than 5,000; (ii) density of population less than 400 per sq. km, and (iii) more than 25% of the male working population engaged in agriculture.</td>
                                <td>Same as above</td>
                                <td>Same as above</td>
                            </tr>
                            <tr>
                                    <td>Scheduled caste population (%)</td>
                                    <td>In Indian context, Scheduled caste is the official designation given to various groups of historically disadvantaged people in India. Total number of such individuals in the district according to official documents.</td>
                                    <td>Same as above</td>
                                    <td>Same as above</td>
                                </tr>
                                <tr>
                                        <td>Scheduled tribe population (%)</td>
                                        <td>In Indian context, scheduled tribe refers to indigenous communities who are recognized under Article 342 of the Indian constitution for preferential treatment. Total number of such individuals in the district according to official documents.</td>
                                        <td>Same as above</td>
                                        <td>Same as above</td>
                                    </tr>
                                    <tr>
                                            <td>Population density(Persons/Sq.km)</td>
                                            <td>Total number of persons living in an area of one square kilometer in the district according to official documents.</td>
                                            <td>Same as above</td>
                                            <td>Same as above</td>
                                        </tr>
                                        <tr>
                                                <td>Total literacy (%)</td>
                                                <td>Total number of literate persons in the district as per official documents.</td>
                                                <td>Same as above</td>
                                                <td>Same as above</td>
                                            </tr>
                                            <tr>
                                                    <td>Female literacy (%)</td>
                                                    <td>Total number of literate women in the district as per official documents.</td>
                                                    <td>Same as above</td>
                                                    <td>Same as above</td>
                                                </tr>
                                                <tr>
                                                        <td>Key NGOs</td>
                                                        <td>Name the non-government organisations functioning in the study district on health issues. Mention their contact details (postal and web-address).</td>
                                                        <td>Same as above</td>
                                                        <td>Same as above</td>
                                                    </tr>
                                                    <tr>
                                                            <td>Key private stakeholders</td>
                                                            <td>Name the key private facilities and professional organisations in the health district. Mention their contact details (postal and web-address).</td>
                                                            <td>Same as above</td>
                                                            <td>Same as above</td>
                                                        </tr>
                                                      
                  </tbody>
           </table>

           <table class="table table-hover table-dark table-bordered">
                <thead>
                    <tr>
                        <th>Expected coverage as per Indian Public Health Standards</th>
                    </tr>
                  <tr>
                    <th>Heading</th>
                    <th>How to fill</th>   
                    <th>Form Linking</th>              
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Theme</td>
                    <td>Name of the selected themes for the cycle. It can be more than one theme which will be shortlisted by the stakeholders during initial discussion.</td>
                    <td>Not linked with any previous forms.</td>                   
                  </tr> 
                  <tr>
                        <td>Priority</td>
                        <td>Out of the multiple theme select one by “1” as the primary theme for the cycle</td>
                        <td>It will be linked for all the subsequent forms.</td>                   
                      </tr>
                      <tr>
                            <td>Coverage indicators</td>
                            <td>All the themes related indicators captured by the state and district level database, which are commonly used at local level to track progress.</td>
                            <td>Those indicator of primary theme will be linked with the form 1.3.1</td>                   
                          </tr>

                          <tr>
                                <td>Current value (as per district representative source)</td>
                                <td>Data on the selected indicator for the previous month. This is the data source maintained and approved by the district for monitoring the progress on this theme.</td>
                                <td>Data will linked with point 3 ‘Time 0’of form 5</td>                   
                              </tr>
                              <tr>
                                    <td>Expected value</td>
                                    <td>The expected/desired coverage on the selected indicator as per official documents.</td>
                                    <td></td>                   
                                  </tr>
                                  <tr>
                                        <td>Gap</td>
                                        <td>This is the difference between the expected value as per the official documents andthe current value of the selected indicator noted in the previous columns. It will be calculated automatically.</td>
                                        <td></td>                   
                                      </tr>
                                      <tr>
                                            <td>Source</td>
                                            <td>Will appear a drop down list box to select the same</td>
                                            <td>The list box is linked with the document enlisted in Form 1A.</td>                   
                                          </tr>
                  </tbody>
           </table>

           <table class="table table-hover table-dark table-bordered">
                <thead>
                    <tr>
                        <th>Theme Name</th>
                    </tr>
                  <tr>
                    <th>Heading</th>
                    <th>Form Linking</th>                 
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Details</td>
                    <td>Not linked with any forms</td>                   
                  </tr> 
                  <tr>
                      <td>Sanctioned
                            [Number of proposed theme-based facilities]</td>
                      <td>Not linked with any forms</td>
                  </tr>
                  <tr>
                        <td>Available / Functional
                                [Number of proposed theme-based facilities]</td>
                        <td>Not linked with any forms</td>                   
                      </tr> 
                      <tr>
                          <td>Gap
                                [This is auto generated, which shows the difference between those sanctioned and currently available.]</td>
                          <td>Not linked with any forms</td>
                      </tr>
                      <tr>
                            <td>Infrastructure [Physical infra-structure (Sub-centre, Primary Health Centre etc.), and theme-specific physical requirements (new-born feeding corner, sick and new-born care unit, blood bank) for health related theme.</td>
                            <td>Not linked with any forms</td>                   
                          </tr> 
                          <tr>
                              <td>General Resources (This refers to theme-specific status of finances, supplies, and technology)</td>
                              <td>Not linked with any forms</td>
                          </tr>
                          <tr>
                                <td>Finance (Allocated funds for the different services based on the theme)</td>
                                <td>Not linked with any forms</td>                   
                              </tr> 
                              <tr>
                                  <td>Supplies (Quantity of different materials needed for providing theme-specific services)</td>
                                  <td>Not linked with any forms</td>
                              </tr>
                              <tr>
                                    <td>Technology (This refers to advancements in technology such as mobile health, software, information-communication platforms, etc. which are required for the theme-specific services)
                                        </td>
                                    <td>Not linked with any forms</td>                   
                                  </tr> 
                                  <tr>
                                      <td>Human resources (List the primary providers of theme-specific services). Record it in the ascending order.</td>
                                      <td>Not linked with any forms</td>
                                  </tr>
                  </tbody>
           </table>

           <br>
         <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #247af6;color: #FFFFFF">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <p style="font-weight: bold; font-size: 120%;">Step 2 ENGAGE - Form-2</p>
                  </li>
                </ul>
           </nav>
           <br>

           <br>
           <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #007b5e;color: #FFFFFF">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <p style="font-weight: bold; font-size: 100%;">Form–2: ENGAGE</p>
                    </li>
                  </ul>
             </nav>
             <br>

             <dd>‘Engage’ is the second step of the DIPH which is documented in form 2. The stakeholders on the identified theme (hereafter referred to as DIPH stakeholders group) are the decision makers for planning service provision. The process will enhance collaboration and engagement between departments.</dd>
             <dd>This step includes all those who are part of the step 1:</dd>
             <dd><b>Discuss roles and define responsibility of each stakeholders pertaining to the identified theme: </b>The form will guide the discussion who will lead service delivery of the identified theme and which departments will provide supportive role keeping in mind their current level of engagement of the district.</dd>
             <dd><b>Discuss how to collaborate with each other: </b>The themes identified during situation analysis provide overlapping areas of services where departments can collaborate. Helping each other by avoiding duplication of work is an important starting point. Some of the issues that can be discussed by the DIPH stakeholders group are:</dd>

             <ul>
                 <li>Are they aware of their roles and responsibilities?</li>
                 <li>Do they have proper knowledge about the theme/issue?</li>
                 <li>Are the geographical areas overlapping?</li>
                 <li>What are the points where they are overlapping with other departments?</li>
             </ul>

             <dd><b>Discuss how to enhance engagement: </b>The engagement starts with coordination and collaboration between departments. Once the department specific roles and responsibilities are identified, the lead person should highlight the areas where different departments can contribute and how the private sector can be a part of the collaboration. This can be ensured through regular communication within the departments, via monthly meetings to resolve any issues that may arise during the implementation.</dd>

             <table class="table table-hover table-dark table-bordered">
                    <thead>
                        <tr>
                            <td>Sl. No.</td>
                            <td>Particulars</td>
                        </tr>
                      <tr>
                        <th>1</th>
                        <th>Key Stakeholder</th>
                        <th></th>   
                        <th>Form Linking</th>              
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td>1.1</td>
                        <td>Primary Stakeholder</td>
                        <td>This refers to the main stakeholder department (health, non-health or private –for profit organisations &NGOs) who are responsible for providing direct services within the identified theme.</td>
                        <td>To the subsequent points of the same form</td>                   
                      </tr> 
                      <tr>
                            <td>1.2</td>
                          <td>Secondary Stakeholder</td>
                          <td>This refers to the stakeholder department (health, non-health or private –for profit organisations&NGOs) who are responsible for providing supportive services within the identified theme.</td>
                          <td>Same as above</td>
                      </tr>
                     
                          <tr>
                                <td>2</td>
                                <td>Defining Primary role (Department- wise), Identify the area of duplications [Each stakeholder (government and private), whether primary or secondary, needs to identify the services they are providing within the specific theme. The service can include delivery, human resources, training, supervision, infrastructure, medicine and supplies, information collection, and technical support.]</td>
                                <td></td>
                                <td>Not linked with any forms</td>                   
                              </tr>
                              <tr>
                                    <td>2.1</td>
                                    <td>Mention department wise primary role[Select from the dropdown list box. All departments and other organization mentioned in the ‘Key Stakeholder’ will come here]</td>
                                    <td>Can be health or non-health department, private health care providers and professional organizations, NGOs working the district for the specified theme</td>
                                    <td>Not linked with any forms</td>                   
                                  </tr>
                                  <tr>
                                        <td>3</td>
                                        <td>Current effort to address the issue [Theme-specific initiatives will be reported here. The on-going activities by the departments to address those problems need to be mentioned here.]</td>
                                        <td></td>
                                        <td>Not linked with any forms</td>                   
                                      </tr>
                                      <tr>
                                            <td>3.1</td>
                                            <td>Mention department wise current effort of the department[Select from the dropdown list box. All departments and other organization mentioned in the ‘Key Stakeholder’ will come here]</td>
                                            <td>Can be health or non-health department, private health care providers and professional organizations, NGOs working the district for the specified theme</td>
                                            <td>Not linked with any forms</td>                   
                                          </tr>
                                          <tr>
                                                <td>4</td>
                                                <td>How to enhance engagement and efficiency[It should include how other departments and the private sector can collaborate to increase the coverage, and service delivery to improve coordination and avoid duplication.]</td>
                                                <td></td>
                                                <td>Not linked with any forms</td>                   
                                              </tr>
                                              <tr>
                                                    <td>4.1</td>
                                                    <td>Mention how better engagement can be built between Primary and Secondary department [Select from the dropdown list box. All departments and other organization mentioned in the ‘Key Stakeholder’ will come here]</td>
                                                    <td>Can be health or non-health department, private health care providers and professional organizations, NGOs working the district for the specified theme</td>
                                                    <td>Not linked with any forms</td>                   
                                                  </tr>
                                                  <tr>
                                                        <td>5</td>
                                                        <td>Lead from each Department (One person from each department involved needs to be selected as the main contact person for information on daily theme-specific activities)</td>
                                                        <td></td>
                                                        <td>Not linked with any forms</td>                   
                                                      </tr>
                                        <tr>
                                                <td>5.1</td>
                                            <td>Lead from each Department (One person from each department involved needs to be selected as the main contact person for information on daily theme-specific activities)</td>
                                            <td></td>
                                            <td>Not linked with any forms</td>
                                        </tr>
                      </tbody>
               </table>
               <br>
               <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #247af6;color: #FFFFFF">
                      <ul class="navbar-nav">
                        <li class="nav-item active">
                          <p style="font-weight: bold; font-size: 120%;">Step 3 Define - Form-3</p>
                        </li>
                      </ul>
                 </nav>
                 <br>

                 <br>
         <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #007b5e;color: #FFFFFF">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <p style="font-weight: bold; font-size: 100%;">Form - 3: Define</p>
                  </li>
                </ul>
           </nav>
           <br>


                 <dd>The form defines the areas to be improved on and details the possible solutions in terms of service delivery, workforce, supplies and technology, health information, finance and policy/ governance.

                        The same stakeholders as Step 2 will attend this meeting. They represent the departments that actively provide the health services in the particular health district.
                        
                        While discussing the possible solution and action required to solve, the stakeholders need to consider the most feasible ways they can achieve within a DIPH cycle (4-5 months) and within resources that is available to district administration. The action points that require the involvement of the state government need to be avoided.</dd>

                        <table class="table table-hover table-dark table-bordered">
                                <thead>
                                  <tr>
                                    <th>Headings</th>
                                    <th>How to fill up</th>  
                                    <th>Form Linking</th>               
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>Health system building blocks</td>
                                    <td>Will automatically appears</td>
                                    <td>From point 2 of form 1B</td>                   
                                  </tr> 
                                  <tr>
                                      <td>Description of problem from health system perspective</td>
                                      <td>Mention different issues/ problem related to each health system building blocks of that theme needs to be noted</td>
                                      <td>Not linked to previous forms</td>
                                  </tr>
                                  <tr>
                                        <td>Possible solution to improve</td>
                                        <td>Mention different ways in which each type of problems under each categories can be addressed</td>
                                        <td>Not linked to previous forms</td>
                                    </tr>
                                          <tr>
                                                <td>Action required (write in priority order)</td>
                                                <td>Mention the feasible actions to be taken which needs to be align with the solution mentioned.Consider the action points which can be achieved within a DIPH cycle (4-5 months) and within resources that is available with district administration (both human and financial).</td>
                                                <td>Not linked to previous forms</td>
                                            </tr>
                                            <tr>
                                                    <td>Service Delivery [The provision of services (direct/primary services, as well as monitoring of the services) related to the theme, and its adequacy (i.e., whether the existing services are adequate to address the problem)]</td>
                                                    <td></td>
                                                    <td>Not linked to previous forms</td>
                                                </tr>
                                                <tr>
                                                        <td>Workforce [This include persons who are directly providing the services. This includes their proportion with respect to the target population size (fair distribution), their skill level to address the issue (competent), comprehension of roles and responsibility, and their motivation and incentive to perform (productive).]</td>
                                                        <td></td>
                                                        <td>Not linked to previous forms</td>
                                                    </tr>
                                                    <tr>
                                                            <td>Supplies & technology [Availability and adequacy of supplies (training materials, registers, drugs, equipment, vehicle, etc.), technology (information communication technology, advancements in health care, etc.)]</td>
                                                            <td></td>
                                                            <td>Not linked to previous forms</td>
                                                        </tr>
                                                        <tr>
                                                                <td>Health information [Availability and adequacy of information on health indicators, finance, supplies, human resource, training, etc. is recorded here. Also, the type and form of information (break-up of data, electronic or hard copy data record, quality/completeness of record) available as per the requirement of the theme can be mentioned here.]</td>
                                                                <td></td>
                                                                <td>Not linked to previous forms</td>
                                                            </tr>
                                                            <tr>
                                                                    <td>Finance [This column records the availability of funding for the particular theme; and also discusses its adequacy to address the issue.]</td>
                                                                    <td></td>
                                                                    <td>Not linked to previous forms</td>
                                                                </tr>
                                                                <tr>
                                                                        <td>Policy/governance [This row captures information regarding the policy thrust on the particular theme. Is there any specific policy/government order on the specified theme applicable to the particular financial year]</td>
                                                                        <td></td>
                                                                        <td>Not linked to previous forms</td>
                                                                    </tr>
                                  </tbody>
                           </table>

                           <br>
                           <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #247af6;color: #FFFFFF">
                                  <ul class="navbar-nav">
                                    <li class="nav-item active">
                                      <p style="font-weight: bold; font-size: 120%;">Step 4 Plan - Form-4</p>
                                    </li>
                                  </ul>
                             </nav>
                             <br>
                             <br>
                             <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #007b5e;color: #FFFFFF">
                                    <ul class="navbar-nav">
                                      <li class="nav-item active">
                                        <p style="font-weight: bold; font-size: 100%;">Form – 4: Plan</p>
                                      </li>
                                    </ul>
                               </nav>
                               <br>
                               <dd>In this form, the theme-specific actions identified in Form 3 are further split into realistic action-points. The theme leader along with the stakeholders (department-wise) will discuss each action point and assign a person responsible for completion of each action point based on their work mandate in the district. To track the progress of the action points, measurable indicators will be coined for each action point. Also, the stakeholders set a target for each indicators with a timeline, which need to be with in the DIPH cycle duration (4-5 months).</dd>

                               
           <table class="table table-hover table-dark table-bordered">
                <thead>
                  <tr>
                    <th>Headings</th>
                    <th></th>
                    <th>Form Linking</th>                 
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Total number of action planned</td>
                    <td>All the action points from different departments involved for the specific theme</td>
                    <td>Will be calculated automatically and appears after submitting the form 4.So no need to fill this section.</td>                   
                  </tr> 
                  <tr>
                      <td>Responsibilities of different stakeholders</td>
                      <td>Total action points for each department involved for the specific theme</td>
                      <td></td>
                  </tr>
                  <tr>
                        <td>Health Department</td>
                        <td>Total number of action points related to Health department</td>
                        <td></td>
                    </tr>
                    <tr>
                            <td>Non health department</td>
                            <td>Total number of action points related to Department of Child Development</td>
                            <td></td>
                        </tr>
                        <tr>
                                <td>Non health department</td>
                                <td>Total number of action points related to Department of Panchayat & Rural Development</td>
                                <td></td>
                            </tr>
                            <tr>
                                    <td>District Administration</td>
                                    <td>Total number of action points related to Administration</td>
                                    <td></td>
                                </tr>
                                <tr>
                                        <td>Private For-Profit Organization</td>
                                        <td>Total number of action points related to Private – for profit organisation</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                            <td>Private Non-Governmental Organisation</td>
                                            <td>Total number of action points related to NGOs</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                                <td>Other Departments</td>
                                                <td>Total number of action points related to other departments</td>
                                                <td></td>
                                            </tr>
                  </tbody>
           </table>

          
           <table class="table table-hover table-dark table-bordered">
                <thead>
                  <tr>
                    <th>Health System Building Blocks</th>
                    <th>Action points [action points are those mentioned in the form-III and will be automatically linked with the prevision step form.]</th>                 
                    <th>Responsible Department [Department which has the primary responsibility in achieving the respective action point.]<br>
                            Person Responsible [Assigning a personnel to be responsible for completing action points.]</th>
                            <th>Indicators [Indicator to monitor the progress of the action points. There should be a numerator and denominator for each indicator.]</th>
                    <th>Description of Indicator [There should be a numerator and denominator for each indicator.]</th>
                    <th>Target[This is the quantifiable goal of the action point to be achieved within the completion date.]</th>
                    <th>Target date[This is the date for competition. A timeline is set within which action points to be executed.]</th>
                        </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Service delivery</td>
                    <td>The action point under this category mentioned in form 3 and is linked</td>
                    <td>This the major responsible department for this action point.
                        <br>
                            This is the person responsible for achieving the specific action point.</td>
                    <td>This is the indicator to monitor the progress of this action point.</td>
                    <td>This describes the calculation of the indicator.</td>
                    <td>This is the target set at district level for the specific action point.</td>
                    <td>This is the final date of completing the specific action point.</td>                   
                  </tr> 
                  <tr>
                        <td>Workforce</td>
                        <td>Same as above</td>
                        <td>Same as above</td>
                        <td>Same as above</td>
                        <td>Same as above</td>
                        <td>Same as above</td>
                        <td>Same as above</td>                   
                      </tr> 
                      <tr>
                            <td>Supplies & technology</td>
                            <td>Same as above</td>
                            <td>Same as above</td>
                            <td>Same as above</td>
                            <td>Same as above</td>
                            <td>Same as above</td>
                            <td>Same as above</td>                   
                          </tr> 
                          <tr>
                                <td>Health information</td>
                                <td>Same as above</td>
                                <td>Same as above</td>
                                <td>Same as above</td>
                                <td>Same as above</td>
                                <td>Same as above</td>
                                <td>Same as above</td>                   
                              </tr> 
                              <tr>
                                    <td>Finance</td>
                                    <td>Same as above</td>
                                    <td>Same as above</td>
                                    <td>Same as above</td>
                                    <td>Same as above</td>
                                    <td>Same as above</td>
                                    <td>Same as above</td>                   
                                  </tr> 
                                  <tr>
                                        <td>Policy/governance</td>
                                        <td>Same as above</td>
                                        <td>Same as above</td>
                                        <td>Same as above</td>
                                        <td>Same as above</td>
                                        <td>Same as above</td>
                                        <td>Same as above</td>                   
                                      </tr> 
                  </tbody>
           </table>

           <br>
           <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #247af6;color: #FFFFFF">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <p style="font-weight: bold; font-size: 120%;">Step 5 Follow up - Form-5</p>
                    </li>
                  </ul>
             </nav>
             <br>


             <br>
             <nav class="navbar navbar-expand-sm justify-content-md-center" style="background-color: #007b5e;color: #FFFFFF">
                    <ul class="navbar-nav">
                      <li class="nav-item active">
                        <p style="font-weight: bold; font-size: 100%;">Form – 5: Follow-up</p>
                      </li>
                    </ul>
               </nav>
               <br>

               <table class="table table-hover table-dark table-border">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Part A</th> 
                        <th></th>                
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Theme</td>
                        <td>Mention the specific theme</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>                   
                      </tr> 
                      <tr>
                            <td>Theme Leader</td>
                            <td>Mention the specific theme leader for this theme</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td> 
                      </tr>
                      <tr>
                            <td>1</td>
                            <td>Number of meeting of respective theme</td>
                            <td>Total number of meetings where the specific theme was discussed or presented</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td> 
                      </tr>
                      <tr>
                            <td>2</td>
                            <td>Major stakeholders involved in each meeting</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td> 
                      </tr>
                      <tr>
                            <td>Sl.No</td>
                            <td>Date</td>
                            <td>Number of participants</td>
                            <td>Participants</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td> 
                      </tr>
                      <tr>
                            <td></td>
                            <td>Mention the specific meeting date for review</td>
                            <td>Total number of participants present in the meeting</td>
                            <td>Designation of the participants present in the meeting. Those interested in the list of the participants can access it from the hyperlink.</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td> 
                      </tr>
                      <tr>
                            <td>3</td>
                            <td>Comparison of key coverage indicator(s) in the DIPH cycle</td>
                            <td>Time 0</td>
                            <td>Time 1</td>
                            <td>Time 2</td>
                            <td>Time 3</td>
                            <td>Time 4</td>
                            <td>Time 5</td>
                            <td>Time 6</td> 
                      </tr>
                      <tr>
                            <td></td>
                            <td>Date</td>
                            <td>Baseline month</td>
                            <td>End of monitoring month-1</td>
                            <td>End of monitoring month-2</td>
                            <td>End of monitoring month-3</td>
                            <td>End of monitoring month-4</td>
                            <td>End of monitoring month-5</td>
                            <td>End of monitoring month-6</td> 
                      </tr>
                      <tr>
                            <td></td>
                            <td>Indicators are linked to point 2 of from 1B</td>
                            <td></td>
                            <td>Not linked to any previous form, need to enter the data manually</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td> 
                      </tr>
                      <tr>
                            
                            <td>Mention the DIPH theme</td>
                            <td>Mention the reference of data source used by district for monitoring monthly progress of specific theme</td>
                            <td>This is the baseline data before the starting of DIPH cycle in district</td>
                            <td>This is the data obtained for the first month after the initiation of DIPH cycle</td>
                            <td>This is the data obtained for the second month after the initiation of DIPH cycle</td>
                            <td>This is the data obtained for the third month after the initiation of DIPH cycle</td>
                            <td>This is the data obtained for the fourth month</td>
                            <td>This is the data obtained for the fifth month</td> 
                            <td>This is the data obtained for the sixth month</td>
                      </tr>
                      </tbody>
               </table>

               <table class="table table-hover table-dark table-border">
                    <thead>
                      <tr>
                        <th></th>
                        <th></th> 
                        <th></th> 
                        <th>Part B</th>
                        <th></th> 
                        <th></th>
                        <th></th> 
                        <th></th>                                      
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td></td>
                        <td>Total action points – Not started [will be marked with ‘Red’ colour]</td> 
                        <td></td>
                        <td></td> 
                        <td></td>
                        <td>Total number of all action points to be achieved for specific theme will be automatically updated</td> 
                        <td></td>
                        <td></td>                   
                      </tr> 
                      <tr>
                            <td></td>
                            <td>Total action points – Ongoing not on target [will be marked with ‘Pink’ colour]</td> 
                            <td></td>
                            <td></td> 
                            <td></td>
                            <td>Same as above</td> 
                            <td></td>
                            <td></td>
                      </tr>
                      <tr>
                            <td></td>
                            <td>Total action points – Ongoing on target[will be marked with ‘Yellow’ colour]</td> 
                            <td></td>
                            <td></td> 
                            <td></td>
                            <td>Same as above</td> 
                            <td></td>
                            <td></td>
                      </tr>
                      <tr>
                            <td></td>
                            <td>Total action points – Completed [will be marked with ‘Green’ colour]</td> 
                            <td></td>
                            <td></td> 
                            <td></td>
                            <td>Same as above</td> 
                            <td></td>
                            <td></td>
                      </tr>
                      <tr>
                            <td>Action Points</td>
                            <td>Indicators</td> 
                            <td>Progress of indicators</td>
                            <td>Person responsible</td> 
                            <td>Timeline</td>
                            <td>Status of action points</td> 
                            <td>Suggestions</td>
                            <td></td>
                      </tr>                     
                      <tr>
                            <td></td>
                            <td></td> 
                            <td></td>
                            <td></td> 
                            <td></td>
                            <td></td> 
                            <td>Revised timeline</td>
                            <td>Change in responsibility</td>
                      </tr>
                      <tr>
                            <td>It is linked with form IV</td>
                            <td>It is linked with form IV</td> 
                            <td>Progress or achievements of each action points for the district will appear. This figure will be automatically updated as it is linked to the supplementary form – 5.1, where monthly progress for each action points is recorded.</td>
                            <td>Person responsible for action points at district level It is linked with form IV</td> 
                            <td>Time line will be appear here and is linked with form IV</td>
                            <td>The current status of the action point should be mentioned here under 4 category- a)Completed b)Ongoing-on target, c)ongoing –not on target and d) not started.</td> 
                            <td>If the activity is on going –not on target or not started, then put the revised time line as suggested in the meeting. The revision is a way of making the action plan more doable and enable the stakeholders have greater ownership of the process.</td>
                            <td>If any change in responsibility been decided, it needs to be noted.</td>
                      </tr>
                      </tbody>
               </table>












 </div>
